# Assignment 2.1 - 2.7

### Ex 2.1

In [1]:
totalsum=int(1 + 2 + 3 + 4 + 5)
print(totalsum)

15

In [2]:
avAge=int((23+19+31)/3)
print("Average age of Mark , Sara and Fatima is "  + str(avAge))

Average age of Mark , Sara and Fatima is 24

In [3]:
div=int(403/73)
print(div)

5

In [4]:
a=2**10
print(a)

1024

In [5]:
diffHeight=int(54-57)
abs(diffHeight)

3

In [6]:
min(34.99,29.95,31.50)

29.95

### Ex 2.2

In [7]:
2+2 < 4

False

In [8]:
7//3 == 1+1

True

In [9]:
(3**2)+(4**2) == 25

True

In [10]:
2+4+6>12

False

In [11]:
1387 % 19 == 0

True

In [12]:
31%2 == 0

False

In [13]:
min(34.99 , 29.95 , 31.50) < 30.00

True

### Ex 2.3

In [14]:
a = 3
b = 4
c = a*a + b*b
print(c)

25

### Ex 2.4

In [15]:
s1 = "ant"
s2 = "bat"
s3 = "cod"
print(s1+" " + s2+" " + s3 )
print(s1*10)
print(s1 + " " + 2*s2 + " " + 3 * s3)
print(7*(s1 +" "+ s2+ " "))
print(5*(s2+s2+s3+" "))

ant bat cod
antantantantantantantantantant
ant batbat codcodcod
ant bat ant bat ant bat ant bat ant bat ant bat ant bat
batbatcod batbatcod batbatcod batbatcod batbatcod

### Ex 2.5

In [2]:
s ='0123456789'
print(s[0])
print(s[1])
print(s[6])
print(s[8])
print(s[9])

0
1
6
8
9

### Ex 2.6

In [17]:
words = ['bat', 'ball', 'barn', 'basket', 'badminton']
print(min(words))
print(max(words))

badminton
bat

### Ex 2.7

In [18]:
grades = [9, 7, 7, 10, 3, 9, 6, 6, 2]
print(grades.count(7))
grades.append(4)
print(grades)
print(max(grades))
grades.sort()
print(grades)
a=sum(grades)
b = len(grades)
c = a/b
print(c)

2
[9, 7, 7, 10, 3, 9, 6, 6, 2, 4]
10
[2, 3, 4, 6, 6, 7, 7, 9, 9, 10]
6.3